* {
    padding:0;
    margin:0;
    font-family:sans-serif;
    box-sizing:border-box;
    height:100vh;
    width:100vw;
    
}

body {
    background-image:url(texture/Web.jpg);
    opacity: 0.9;
    filter: saturate(110%) brightness(105%);
    background-size: 100vw 100vh;
    
}

.model {
    width:100vw;
    height:100vh;
    z-index: 100;
    overflow:visible;    
}

button{
   
    height:3vh;
    width:3vh;
    background-color:rgb(155, 141, 233);
    border-radius: 50%;
    border: none;
    box-shadow: 5px 5px 15px rgba(155, 141, 233, 0.737);
    

}

model-viewer {
    width: 100vw;
    height:100vh;
    scale:0.65;
    overflow:visible;
    background-color:transparent;
    

}


model-viewer:hover {

    cursor: pointer;
}

#new_page {
    --web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: ;
	cursor: pointer;
}